@using System.Security.Claims

@using EndToEndTest.Data.CommerceDataModels
@using Data
@using Microsoft.AspNetCore.Http;
@using Microsoft.Data.SqlClient
@using Microsoft.AspNetCore.Components.Forms
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IHttpContextAccessor HttpContextAccessor

@inherits OwningComponentBase<NotificationServices>

<AuthorizeView>
    <Authorized>
        <div class="row align-items-center ml-3"><a class="nav-link" href="/">About</a></div>
        <div class="row align-items-center ml-3"><a class="nav-link" href="Dashboard">Dashboard</a></div>
        <div class="row align-items-center ml-3"><a class="nav-link" href="Transactions">Transactions</a></div>
        <div class="row align-items-center ml-3">
            <!--
                This part of the code is for dropdown menu for the 5 most recent transactions made in account
                Key = transaction description
                value = transaction amount
            -->
            <div class="dropdown">
                <a class="@displayBell" @onclick="@displayNotifBell" href="Notifications"><i class="oi oi-bell"></i></a>


                <div class="dropdown-content">
                    <div class="row notifAlerts">
                        <span class="alertMess">CATS...</span>
                    </div>
                    @if (notifSummaries == null)
                    {
                        <div class="row notifAlerts">
                            <span class="alertMess">Loading...</span>
                        </div>

                    }
                    else
                    {
                        @foreach (var x in notifSummaries) //for every transactions made
                        {
                            <div class="row notifAlerts">
                                @if (x.EmailBody.Length < 131)
                                
                                    {<span class="alertMess">@x.EmailBody</span>}                                
                                else
                                {<span class="alertMess">@x.EmailBody.Substring(131).Substring(0, getIndexOfSubstring(x.EmailBody.Substring(131), "If"))</span>}
                            </div>
                        }
                    }
                </div>




            </div>
            <a class="nav-link" href="Notifications">Notifications</a>
        </div>
        <div class="row align-items-center ml-1">
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn nav_bar_button">Log out</button>
            </form>
        </div>

        <!--<div>
            <button class="btn-sm" @onclick="@displayNotifBell">Display</button>
        </div>-->

    </Authorized>
    <NotAuthorized>
        <div class="row align-items-center ml-3"><a class="nav-link" href="/">About</a></div>
        <div class="row align-items-center ml-1"><a href="Identity/Account/RegisterAsp">Register</a></div>
        <div class="row align-items-center ml-3"><a href="Identity/Account/Login">Log in</a></div>
    </NotAuthorized>
</AuthorizeView>

@code {
    public List<TriggeredNotif> notifSummaries;

    public List<Tuple<String, decimal>> transDesc;
    private string userID;

    private string displayBell = "d-none";

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
        userID = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;

        notifSummaries = await Service.GetTriggeredNotifSummary(user.Identity.Name);
        notifSummaries.Count();
        notifSummaries.Count();
        notifSummaries.Count();
        notifSummaries.Count();



    }

    private async Task displayNotifBell()
    {
        if (displayBell == "d-block")
        {
            displayBell = "d-none";
            //notifSummaries.Clear();
        }
        else
        {
            var user = (await AuthenticationStateProvider.GetAuthenticationStateAsync()).User;
            userID = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;
            notifSummaries = await Service.GetTriggeredNotifSummary(user.Identity.Name);
            notifSummaries = await Service.GetTriggeredNotifSummary(userID);
            displayBell = "d-block";
        }
    }




    public int getIndexOfSubstring(string text, string toMatch)
    {
        return text.IndexOf(toMatch);
    }
}